@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    font-family:  sans-serif;
   
    background-color: #dadada;
   
}

main{
    width: 100%;
    height: 100%;
}

/* navbar starts  here */
nav{
    height: 10%;
    width: 100%;
    background-color: #10A37F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

nav #logo{
    width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav #logo h1{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    font-weight: 700;
    
}

nav #logo img{
    width: 7%;
    height:7%;
    border-radius: 50%;
}

nav #part2 ul{
    display: flex;
    gap: 50px;
    width: 70%;
}

nav #part2 ul li{
    list-style: none;
}

nav #part2 ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all .1s linear;
}

nav #part2 ul li a:hover{
    border-bottom: 2px solid #dadada;
    color: #dadada;

}
/* navbar ends here  */

/* Home section  start*/

 #home{
   
    height: 500px;
    width: 80%;
    margin: auto;
    justify-content: space-around;
   align-items: center;
    display: flex;
   border-bottom: 1px solid #777;
}

#home .container{

    width: 50%;
    padding: 20px;
}

#home .container button{
    margin-top: 3vw;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #10A37F; 
    color: #fff;

    cursor: pointer;
    font-size: 20px;
    font-family: 'Josefin Sans';
}

#home .container h1{
    font-size: 55px;
    font-family: 'Josefin Sans';
    text-transform: capitalize;
    color: #10A37F;
    margin-bottom: 20px;
}

 #home img{
    width: 450px;
    height: 400px;
    margin-top: 13px;
    object-fit: cover;
    border-radius: 50%;

}

#home .container p{
  
    line-height: 1.5;
    font-size: 16px;
    width: 70%;
}


/* home section ends  here */

/* about section starts here  */
[id="about"] {

    width: 80%;
    margin: auto;
    margin-top: 6vw;
    height: 300px;
}

#about h2{
    color: #10A37F;
    text-align: center;
  
    font-size: 45px;
   text-decoration:2px underline;
    font-family: 'Josefin Sans';
}

#about p{
    width: 70%;
    line-height: 1.3;
    margin: auto;
    margin-top: 2vw;
    font-size: 18px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAnimation 2s ease-in-out forwards;
    animation-play-state: paused; /* Initially pause the animation */
}

.fade-in.animate {
    animation-play-state: running; /* Activate the animation */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}


/* about  section ends here  */


/* skills section start  */
#skills{
    width: 80%;
    margin: auto;
    font-family: 'Josefin Sans';
    margin-top: 4vw;
}

 h2{
    margin-top: 6vw;
    margin-bottom: 6vw;
    font-size: 45px;
    text-align: center;
    color: #10A37F;
    text-decoration: 2px underline;
}


  

#skill-list h4 {
   
    width: 50%;
    margin: auto;
    margin-bottom: 16px;
    font-size: 30px;
    color: #2a2a2a;
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
    animation: skillProgress 3s linear infinite;
    opacity: 0;
    transform: translateX(-20px);
}

@keyframes skillProgress {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


#skill-list h4:nth-child(1) {
    animation-delay: 0s;
}
#skill-list h4:nth-child(2) {
    animation-delay: 0.2s;
}
#skill-list h4:nth-child(3) {
    animation-delay: 0.4s;
}
#skill-list h4:nth-child(4) {
    animation-delay: 0.6s;
}
#skill-list h4:nth-child(5) {
    animation-delay: 0.8s;
}
#skill-list h4:nth-child(6) {
    animation-delay: 1s;
}
#skill-list h4:nth-child(7) {
    animation-delay: 1.2s;
}
#skill-list h4:nth-child(8) {
    animation-delay: 1.4s;
}
#skill-list h4:nth-child(9) {
    animation-delay: 1.6s;
}



/* skills section ends  */


/* projects section starts here  */

#projects{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    height: 450px;
   
   
}

.project1{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 6px;
}

.project1 h3{
    color: #10A37F;
    font-size: 25px;
}

#projects .project img{
    width: 400px;
    margin-top: 20px;
    height: 300px;
    border-radius: 6px;
   
}

.project1 p{
    margin-top: 2vw;
    font-size: 16px;
}

/* projects section ends here  */

/* contact section starts here  */
#contact {
   
    width: 70%;
    margin: auto;
    margin-top: 2vw;
}

.container-contact {
    padding: 50px;
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
}



input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7); 
    font-family: 'Josefin Sans';
}

textarea {
    height: 150px; 
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #10A37F; 
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Josefin Sans';
}

button[type="submit"]:hover {
    background-color: #058263; 
}

/* contact section ends here  */


/* footer starts here   */
footer{
    margin-top: 4vw;
    width: 100%;
    height: 50px;
    background-color: #10A37F;
    color: #fff;
    text-align: center;
    padding-top: 12px;
}
/* footer ends here  */